In [1]:
import numpy as np

In [2]:
revenue_usd=np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])

In [4]:
revenue_inr=revenue_usd*75
revenue_inr#revenue in inr

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

In [5]:
## Divine flowers is a flower shop that sells different type of flowers. Below is the table showing how many flowers of each type they sold in different months. 
## Also given are the prices of one flower each. Using this find out their total sales in every month.

In [7]:
units_sold=np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit=np.array([20,30,15])

np.dot(price_per_unit, units_sold)

array([1900, 2640, 1430])